.moz {
  font-weight: bold;
  font-style: italic;
}
.text{
  font-family: Times, "Times New Roman", Georgia, serif;
}
.container {
  float: center;
}
.jumbotron{
  float: center;
}
h1 {
  text-align:center;
}
.morty{
  padding-left: 50px;
  font-family: sans-serif;
  font-size: 125%;
}
.rick {
  text-indent: 2.5%;
}
img.resize {
  max-width:25%;
  max-height:25%;
  padding-left: 50px;
  border-radius: 5%;
}
